@charset "UTF-8";
/* CSS for the profile page */

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

p.success {
    color: green;
    margin-top: 10px;
}

nav {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}


